* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
footer {
    height: 10vh;
    background-color: aquamarine;
    padding: 10px;
}

main {
    height: 80vh;
    display: flex;
    background-color: bisque;
}   

aside,
nav {
    width: 20%;
    background-color: rgb(196, 255, 252);
    padding: 10px;
}

aside {
    background-color: bisque;
}

article {
    width: 60%;
}

.nameDirection {
    padding: 2%;
    border: 20px solid white;
    /* border-bottom-width: 100px;  */
}

.container {
    height: 150px;
    display: flex;
    flex-direction: column;
    column-gap: 20px
    
}

.flex-item.left {
    width: 70%;
}

.dataField {
    display: flex;
    padding: 10px;
}

.dataField label {
    flex: 1;
} 

.dataField input {
    padding: 5px;
}

.flex-item.left input{
    flex: 1;
}

 
.flex-item.right {
    width: 30%;
}

.vehicle [type=radio] {
    /* display: flex; */
    
}
  
.btn-container {
    text-align: center;
    justify-content: center;
    margin-top: 50px;
}

input[type=submit] {
    border: 0;
    padding: 10px;
    background-color:gray;
    border-radius: 0;
    color: white;
}

input[type=submit]:hover {
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 100%;
    justify-content: space-between;
}

.flex-item.left.dataField {
    flex: 3;
}
