* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 
main {
    width: 80vh;
    
}
 

 .container {
    /* display: flex; */
    width: 960px;
}


header,
footer {
    height: 10vh;
    background-color: aquamarine;
    padding: 10px;
}


.details {
    color: bisque;
    width: 60%;    
}

.nav, 
.aside {
    width: 20%;
}

.aside {
    color: bisque;
}

.nav {
    color: cadetblue;
}