* {
    box-sizing: content-box;
}

.box {
    width: 100px;
    height: 100px;
    /* border: 3px solid black; */
    display: block;
}

.box1 {
    background-color: red;
    display: inline-block;
}

.box2 {
    background-color: green;
    display: inline-block;
}

.box3 {
    background-color: blue;
}

.box4  {
    justify-content: flex-end;
    display: none;
}

.box5  {
    background-color: yellow;
    justify-content: flex-end;
    display: inline;
}

.box6 {
    background-color: aliceblue;
    /* Shorthand property */
    /*  
    
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    
    */
    padding: 10px 5px 15px 20px;

    /* Shorthand property */
    border: 3px solid black;
    border-width: 2px 1px 3px 4px;
    border-style: solid dashed double groove;
    
    border-top: ;
    border-right: ;
    border-bottom: ;
    border-left: ;

    /* Margin Shorthand property */
    /* 
    Margin-top: 10px;
    Margin-right: 10px;
    Margin-bottom: 10px;
    Margin-left: 10px;   
    */
    margin: 10px 5px 15px 20px;
}

.navigation {
    margin: 0;
    padding: 0;
    list-style: none;
    /* display: flex; */
}

.navigation li {
    display: inline-block;
    margin-right: 50px;
}

.navigation li a {
    color: rgb(90, 213, 18);
    text-decoration: none;
    font-size: 18px;
}

/* pseudo class */
.navigation li a:hover {
    text-decoration: underline;
    color: red;
}

.navigation li a:visited {
    color: navy;
}

.box7 {
    border: 3px solid black;
    padding: 20px;
}

.box7:hover p {
    color: darkgoldenrod;
}

.parent li:first-child {
    color: blueviolet;
    font-size: 24px;
}

.parent li:nth-child(3) {
    color: blueviolet;
    font-size: 24px;
}

.parent li:last-child {
    color: blueviolet;
    font-size: 24px;
}

.parent li:nth-child(even) {
    color: orange;
    font-size: 40px;
}