* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
footer {
    height: 10vh;
    background-color: aquamarine;
    padding: 10px;
}

main {
    height: 80vh;
    display: flex;
    /* background-color: bisque; */
}   

aside,
nav {
    width: 20%;
    background-color: rgb(196, 255, 252);
    padding: 10px;
}

aside {
    background-color: bisque;
}

article {
    width: 60%;
    background-color: bisque;
}

.container {
    /* height: 150px; */
    display: flex;
    column-gap: 20px
    
}

 /*  
.nameDirection {
    padding: 2%;
    border: 20px solid white;
    /* border-bottom-width: 100px;  */
}
*/


.flex-item.left {
    width: 70%;
}

.dataField {
    display: flex;
margin-bottom: 20px;
    /* padding: 10px; */
}

.dataField label {
    flex: 1;
} 

.dataField input {
    flex: 2;
    padding: 5px;
}
/* 
.flex-item.left input{
    flex: 1;
}
 */
 
.flex-item.right {
    width: 30%;
}
 
.btn-container {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

input[type=submit] {
    border: 0;
    padding: 10px;
    background-color:gray;
    border-radius: 0;
    color: white;
}

input[type=submit]:hover {
    cursor: pointer;
}

form {
    display: flex;
    /* flex-direction: column; */
    column-gap: 50px;
    padding: 20px;
    height: 100%;
    border: 25px solid white;
    
}

