* {
    box-sizing: border-box;
}

.Container-Row {
    display: flex;
    flex-direction:;
    flex-wrap: wrap;
    border: 3px solid blue;
    justify-content:left ;
    align-items: flex-start;
    align-content: center;
}

.Container-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 3px solid navy;
    margin-top: 100px;
    height: 200px;
    justify-content:flex-end;
    align-items:;

}


.box {
    width: 200px;
    font-size: 32px;
    padding: 20px;
}

.box1 {
    background-color: red;
    order: 6;
}

.box2 {
    background-color: green;
}

.box3 {
    background-color: orange;
}

.box4 {
    background-color: blue;
}

.box5 {
    background-color: indigo;
}

.box6 {
    background-color: violet;
}