* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header, 
footer {
    height: 10vh;
    padding: 10px;
    background-color: yellowgreen;
}

main {
    display: flex;
    height: 80vh;
    justify-content: space-between;
}

nav {
    background-color: cadetblue;
    width: 20%;
    padding: 10px;
}

article {
    background-color: beige;
    width: 60%;
    padding: 10px;
}

aside {
    background-color:darkgray;
    width: 20%;
    padding: 10px;
}